# Datos Obesidad

El análisis de los datos se realizó en R y puedes ver el correpondiente notebook en la misma carpeta. En este solo estamos interesados en generar los dato en formato JSON para otras actividades.

In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("./data/Obesity_clean_country.csv")
print(df.shape)
df.head()

(6309, 7)

,Entity,Code,Year,Population,Continent,Daily_caloric_supply,Overweight_or_Obese
0,Afghanistan,AFG,1975,12590286,Asia,2752,7.1
1,Afghanistan,AFG,1976,12840299,Asia,2824,7.1
2,Afghanistan,AFG,1977,13067538,Asia,2489,7.2
3,Afghanistan,AFG,1978,13237734,Asia,2621,7.3
4,Afghanistan,AFG,1979,13306695,Asia,2621,7.3

In [3]:
df_year = df[df['Year'] == 1975]
df_year.head()

,Entity,Code,Year,Population,Continent,Daily_caloric_supply,Overweight_or_Obese
0,Afghanistan,AFG,1975,12590286,Asia,2752,7.1
39,Albania,ALB,1975,2411229,Europe,2494,33.6
78,Algeria,DZA,1975,16709099,Africa,2058,25.9
117,Angola,AGO,1975,7682479,Africa,1858,8.2
156,Antigua and Barbuda,ATG,1975,71609,Americas,1857,27.0

In [4]:
data_all = []
for year, info in df.groupby('Year'):
    data = json.dumps({'Year': year, 
                     'countries': info.drop(['Year'], axis=1).to_dict(orient="records")})
    data_all.append(data)

In [5]:
len(data_all)

39

In [7]:
df['Year'].nunique()

39

In [9]:
with open('data.json', 'w') as outfile:
    json.dump(data_all, outfile)